@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

@layer base {
  :root {
    /* Variables de color en formato HSL para el modo claro */
    --background: 210 100% 95%;      /* Azul claro */
    --foreground: 220 15% 20%;       /* Texto oscuro */
    --card: 0 0% 100%;
    --card-foreground: 220 15% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 15% 20%;
    --primary: 240 100% 50%;         /* Azul brillante */
    --primary-foreground: 0 0% 100%;
    --secondary: 220 15% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 15% 90%;
    --muted-foreground: 220 15% 20%;
    --accent: 240 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 15% 90%;
    --input: 220 15% 90%;
    --ring: 240 100% 50%;
    --radius: 1rem;
  }

  .dark {
    /* Variables de color en formato HSL para el modo oscuro */
    --background: 0 0% 0%;        /* Negro */
    --foreground: 0 0% 100%;      /* Texto blanco */
    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 100%;
    --primary: 240 5% 25%;        /* Azul oscuro sutil */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 100%;
    --accent: 240 5% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 240 5% 25%;
  }
}

.blinking-cursor {
  font-weight: bold;
  font-size: 1em;
  color: black;
  animation: blink 1s step-start infinite;
}

/* Limitar el área de las partículas y colocarlas detrás del texto */
.particle-limited-area {
  position: absolute;  /* Coloca las partículas en el fondo */
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;  /* Limita las partículas a la mitad superior de la página */
  z-index: -1;   /* Las partículas están detrás del contenido */
  pointer-events: none;  /* Evita que las partículas interfieran con la interacción de la página */
}


/* Asegúrate de que el texto esté por encima de las partículas */
#about-me,
#services
{
  z-index: 1;         /* Asegura que el texto esté por encima de las partículas */
  position: relative; /* Relativo para aplicar el contexto de apilamiento (z-index) */
}

/* Light mode (ya están bien, no necesitas cambiar) */
.swiper-pagination-bullet {
  background-color: black; /* Punto inactivo en Light Mode */
}

.swiper-pagination-bullet-active {
  background-color: blue; /* Punto activo en Light Mode */
}

/* Dark mode */
.dark .swiper-pagination-bullet {
  background-color: gray; /* Punto inactivo en Dark Mode */
}

.dark .swiper-pagination-bullet-active {
  background-color: white; /* Punto activo en Dark Mode */
}

.linkedin-button {
  background-color: #0A66C2; /* Color azul de LinkedIn */
  color: white;
}

.linkedin-button:hover {
  background-color: #004182; /* Color azul más oscuro al pasar el mouse */
}

html {
  scroll-behavior: smooth;
}




@keyframes blink {
  50% {
    opacity: 0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    color: hsl(var(--foreground));
  }
  .dark body {
    /* Fondo negro con degradado radial en modo oscuro */
    background-color: hsl(var(--background));
    
    color: hsl(var(--foreground));
  }
}
